
/// breakpoints
$breakpoints:(

    "small": (max-width: 40em),
    "medium": (max-width: 65em),
    "large": (min-width: 80em)

) !default;
    
///colorscheme
$colors: (
    bright: rgb(255, 255, 255),
    medium-grey: rgb(149, 152, 154),
    beage: rgb(204, 183, 183),
    beages: rgb(243, 229, 229),
    coffee: rgb(85, 51, 38)

) !default;

///Font
$font: 'Barlow Semi Condensed', sans-serif;