
/*--------------------------------------------------------------
Colors
------------------------------------------------*/


$breakpoints: (
    "small": (min-width: 32.188em),
    "medium": (min-width: 48em),
    "large": (min-width: 62em),
    "wide": (min-width: 75em)
  )
  !default;

  

$blue1:#00ADEF; 
$blue2:#54C7F3;
$blue3:#037CA7;
$blue4:#92C5D8;
$silver:silver;
