.article_header h5{
    text-align: center;
    font-size: 7.1vw;
}

.article_header p{
   margin-bottom: 1em;
   text-align: center;
}

@include respond-to("wide") { /*using my own breakingpoint variable from breakingpoints*/
    .article_header h5{
        text-align: center;
        font-size: 4vw;
    }
    }