footer {
    background-color:map-get($color, bright);
}
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
  }

a {
    text-decoration: none;
    color: black;
}

nav h3{
    border-bottom: thick solid#000000;
    border-width: 1px;
}

@include respond-to("medium") { /*using my own breakingpoint variable from breakingpoints*/
    ul {
        columns: 4;
      }
    }