/* sass breakpoint mixin */
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f3e5e5; }

li {
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none;
  margin: 0 auto;
  padding: 0; }

* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 auto;
  padding: 0; }

header {
  background-image: url("../images/12.png");
  background-position: right;
  background-color: #ccb7b7;
  background-repeat: no-repeat;
  height: 300px;
  max-width: 1200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

h1 {
  color: white;
  margin-left: 4em;
  padding-top: 4em;
  text-shadow: 2px 2px 4px #000000; }

main {
  display: grid;
  max-width: 1200px;
  grid-column: 1fr 1fr;
  grid-row: 1fr 1fr;
  background-color: white;
  text-align: center; }

#map {
  max-width: 700px;
  grid-column: 1/2;
  grid-row: 1/2; }

form {
  text-align: center;
  width: 500px;
  margin: auto; }

.button1, .button2 {
  background-color: #553326;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 30px;
  cursor: pointer; }

.button :last-child {
  width: 10px; }

.input {
  width: 185px;
  height: 30px; }

.button2 {
  width: 40px;
  height: 35px;
  font-size: 20px; }

#hund {
  grid-column: 1/2;
  grid-row: 2/2;
  max-width: 600px; }

.beskrivning {
  grid-column: 2/3;
  grid-row: 2/2;
  margin: auto; }

#hund1 {
  grid-column: 1/2;
  grid-row: 3/3;
  max-width: 600px; }

.beskrivning1 {
  grid-column: 2/3;
  grid-row: 3/3;
  margin: auto; }

@media (max-width: 65em) {
  main {
    display: flex;
    display: block;
    margin: auto; }
  img {
    width: 100%;
    height: auto; }
  form {
    padding-top: 1em;
    margin-bottom: 1em; }
  p {
    margin: 1em; } }

img {
  width: 100%;
  height: auto;
  margin-top: 1em; }

footer h5 {
  text-align: center;
  height: 40px;
  margin-top: 1em; }
