header {
    background-image: url("../images/12.png");
    background-position:right;
    background-color:map-get($colors, beage );
    background-repeat: no-repeat;
    height: 300px;
    max-width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
   color:map-get($colors, bright );  
   margin-left:4em;
   padding-top: 4em;
   text-shadow: 2px 2px 4px #000000;
}