
main{
    display: grid;
    max-width: 1200px;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    background-color:map-get($colors, bright);
    text-align: center;
}

#map{
    max-width: 700px;
    grid-column:1/2;
    grid-row:1/2;
}

form{
   
    text-align: center;
    width: 500px;
    margin: auto;
}

.button1,.button2{
    background-color:map-get($colors, coffee);
    width: 200px;
    height: 50px;
    color:map-get($colors, bright);
    font-size: 30px;
    cursor: pointer;
}
.button :last-child{
    width: 10px;
}
.input {
    width: 185px;
    height: 30px;
}
.button2{
    width: 40px;
    height: 35px;
    font-size: 20px;
}

#hund{
    grid-column:1/2;
    grid-row:2/2; 
    max-width: 600px;
}

.beskrivning{
    grid-column:2/3;
    grid-row:2/2;  
    margin: auto;
}

#hund1{
    grid-column:1/2;
    grid-row:3/3; 
    max-width: 600px;
}

.beskrivning1{
    grid-column:2/3;
    grid-row:3/3;  
    margin: auto; 
}

@include respond-to('medium') { 
    
  main {
    display: flex;
    display: block;
    margin: auto;
    }

img {
    width:100%;
  height:auto;
}

form {
padding-top:1em;
margin-bottom: 1em;
}
p{
margin: 1em;
}
    }
